/* Container */
/* Make container full height from header to footer */
#container { display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    flex-grow: 1;
}

.container-upperBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

/* Form */

.programSelector {
    width: 30%;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.programSelector h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

#programForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

#programForm label {
    margin: 10px 0;
}

#programForm select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#programForm #programSelectorButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#programForm #programSelectorButton:hover {
    background-color: #45a049;
}

#programForm #resetButton {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#programForm #resetButton:hover {
    background-color: #f44336;
}

/* Course Table 1 */

.coursesTable {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-collapse: collapse;
    margin: 20px;
}

.coursesTable th {
    background-color: #f2f2f2;
}

.coursesTable th, .coursesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.coursesTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.coursesTable tr:hover {
    background-color: #f2f2f2;
}

/* Buttons */

.addButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.addButton:hover {
    background-color: #45a049;
}

/* Added Course Table */

.addedCourses {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-collapse: collapse;
    margin: 20px;
}

.addedCourses th {
    background-color: #f2f2f2;
}

.addedCourses th, .addedCourses td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.addedCourses tr:nth-child(even) {
    background-color: #f2f2f2;
}

.addedCourses tr:hover {
    background-color: #f2f2f2;
}

/* Buttons */

.removeButton {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.removeButton:hover {
    background-color: #f44336;
}