* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

#headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 20px;
}

.logo img {
    width: 250px;
}

/* Navigation */

nav a:not(.navDivider) {
    padding: 20px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

nav a:hover:not(.navDivider) {
    background-color: #f0f0f0;
}

.navDivider {
    margin-right: 4px;
    border-right: 2px solid #c3c3c3;
    padding: 30px 0;
}

.navDropdownContent {
    display: none;
    position: absolute;
    /* background-color is white */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 5px;
    margin-top: 20px;
}

.navDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px 5px 0 0;
}

.navDropdownContent a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .navDropdownContent {
    display: block;
}

/* User Box */

.userBox {
    margin: 20px;
}

.userDropdownButton {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

.userDropdownButton:hover {
    background-color: #f0f0f0;
}

.userDropdownButton:hover {
    cursor: pointer;
}

.userBox {
    position: relative;
    display: inline-block;
}

.userBox img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.userDropdownButton img {
    pointer-events: none;
}

.userBox button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownContent {
    display: none;
    position: absolute;
    /* background-color is white */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 5px;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px 5px 0 0;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.show {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

#logout {
    background-color: #FF9999;
    border-radius: 0 0 5px 5px;
}

#logout:hover {
    cursor: pointer;
    background-color: #FF6666;
}

/* Footer */

footer {
    background-color: #008345;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}